html {
	background-color: #fafafa
	height: 100%;
}

body {
	height: 100%;
}
/*side nav
search/synonyms buttons and results div*/
#side-nav {
	background-color: grey;
	height: 100vh;
}

#side-nav-button {
	color: white;
	margin-top: 5px;

}

/*side nav past css*/
#search-his {
	color: black;
}

.fa-bars {
	margin-top: 5px;
}

/*top nav*/
#logo {
	margin-left: 70px;
}

.navbar{
	height: 55px;
	background-color: #263238;
	border-radius: 0 !important;
  	-moz-border-radius: 0 !important;
}

/*magnifying glass next to search*/
#mag-glass {
	color: #eee;
	
}

.search { 
	position: relative; 
}

.search input { 
	text-indent: 30px;
}

.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

.fa-question-circle {
	padding-right: 10px;
}

/*search input bar*/
#user-input {
	color: white;
}
.switch {
	float: right;
	margin-top: 10px;
	font-weight: bold;
	color: white;
}

/*category buttons div*/
.container-fluid {
	width: 100%;
	background-color: #fafafa;
	height: 75px;
	padding-top: 8px;
	overflow: hidden;
}

h6 {
	color: black;
}

.category_buttons {
	margin-top: 10px;
	background-color: #fafafa;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}
.category_buttons:after {
	content: '';
	display: inline-block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	background: black;
}
.category_buttons:hover:after {
	width: 100%;
	background: black;
}
/*where the api content will show*/
#main-display {
	height: 100%;
	background-color: #fafafa;
}

/*style gifs on main-display*/
.gifs {
	height: 200px;
	width: 350px;
	padding: 5px;
}
.gifs:hover {
	cursor: pointer;
}
.gif-wrapper {
	display: inline-block;
}

/*styles the flickr image results*/
.flickr-photos {
	padding: 5px;
	height: 200px;
}



















.results {
	width: 90%;
	padding: 10px 0;
	list-style: none;
}

.list-left {
	float: left;
	width: 20%;
}

.list-left img {
	width: 100%;
	padding: 3px;
	border: solid #ccc 1px;
}

.list-right {
	float: right;
	width: 78%;
}

.cTitle {
	color: red;
}

.paging-button {
	font-size: 28px;
	margin-top: 10px;
	background-color: #fafafa;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  	cursor: pointer;
}

.paging-button:after {
	content: '';
	display: inline-block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.paging-button:hover:after {
	width: 100%;
	background: black;
}

/*dark-mode*/
body.dark-mode {
	background-color: #263238;
}

#main-display.dark-mode {
	background-color: #263238;
	color: #fafafa;
}

#category-div.dark-mode {
	background-color: #263238;
}

.category_buttons.dark-mode{
	background-color: black;
	color: white;
}

#arrow-button{
	color: black;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

