body {
 height: 100vh;
}

/*side nav
search/synonyms buttons and results div*/
#side-nav {
	background-color: grey;
	height: 100vh;
}

#side-nav-button {
	color: white;
	margin-top: 5px;

}

.fa-bars {
	margin-top: 5px;
}

/*top nav*/
#logo {
	margin-left: 70px;
}

.navbar{
	height: 55px;
	background-color: #263238;
	border-radius: 0 !important;
  	-moz-border-radius: 0 !important;
}

/*magnifying glass next to search*/
#mag-glass {
	color: #eee;
	
}

.search { 
	position: relative; 
}

.search input { 
	text-indent: 30px;
}

.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

.fa-question-circle {
	padding-right: 10px;
}

/*search input bar*/
#user-input {
	color: white;
}
.switch {
	float: right;
	margin-top: 10px;
	font-weight: bold;
	color: white;
}

/*category buttons div*/
.container-fluid {
	width: 100%;
	background-color: #fafafa;
	height: 75px;
	text-align: center;
	padding-top: 8px;
}

h6 {
	color: black;
}

.category_buttons {
	margin-top: 10px;
	background-color: #fafafa;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}
.category_buttons:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.category_buttons:hover:after {
	width: 100%;
	background: black;
}
/*where the api content will show*/
#main-display {
	height: 100vh;
	background-color: #fafafa;
}

/*div containing #side-nav and #main-display*/
#main {
	height: 100vh;
	width: 100%;
}

.gifs {
	height: 200px;
	width: 350px;
	padding: 5px;
}
.gifWrapper {
	display: inline-block;
}




